body {
    font-family: 'Nunito', sans-serif;
}

.bg-escuro{
    background-color: #73941e;
}

.bg-verde-claro2 {
    background-color: #e0fc98;
}

.bg-preto {
    background-color: #000000;
    color: white;
}

.font-darkgreen {
    color: rgb(4, 85, 4);
}